<?xml version="1.0"?>
<robot name="simple_screwbox"
       xmlns:xi="http://www.w3.org/2001/XInclude"
       xmlns:gazebo="http://playerstage.sourceforge.net/gazebo/xmlschema/#gz"
       xmlns:model="http://playerstage.sourceforge.net/gazebo/xmlschema/#model"
       xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:body="http://playerstage.sourceforge.net/gazebo/xmlschema/#body"
       xmlns:geom="http://playerstage.sourceforge.net/gazebo/xmlschema/#geom"
       xmlns:joint="http://playerstage.sourceforge.net/gazebo/xmlschema/#joint"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:rendering="http://playerstage.sourceforge.net/gazebo/xmlschema/#rendering"
       xmlns:renderable="http://playerstage.sourceforge.net/gazebo/xmlschema/#renderable"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:physics="http://playerstage.sourceforge.net/gazebo/xmlschema/#physics">
 
  <link name="base">      
    <inertial>
      <mass value="5.0"/>
      <origin xyz="0 0 0"/>
      <inertia ixx="100.0" ixy="0" ixz="0" 
               iyy="100.0" iyz="0" 
               izz="100.0"/>
    </inertial>  
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size=".075 .075 .010"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <box size =".075 .075 .010"/>
      </geometry>
    </collision>
  </link>
  <gazebo reference="base">
    <material>
	Gazebo/Grey
    </material>
  </gazebo>  



  <link name="retainer_vc">
    <inertial>
      <mass value=".125"/>
      <origin xyz="0 0 0.0155" rpy="0 0 0"/>
      <inertia ixx="100.0" ixy="0" ixz="0" 
               iyy="100.0" iyz="0" 
               izz="100.0"/>
    </inertial>  
    <visual>
      <origin xyz="0 0 0.0155" rpy="0 0 0"/>
      <geometry>
        <box size="0.015 0.035 0.02"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <box size="0.015 0.035 0.02"/>
      </geometry>
    </collision>
  </link>
  <gazebo reference="retainer_vc">
    <material>
	Gazebo/Grey
    </material>
  </gazebo>  

 
 <link name="retainer_hc">
    <inertial>
      <mass value=".125"/>
      <origin xyz="0 0 0.0155" rpy="0 0 0"/>
      <inertia ixx="100.0" ixy="0" ixz="0" 
               iyy="100.0" iyz="0" 
               izz="100.0"/>
    </inertial>  
    <visual>
      <origin xyz="0 0 0.0155" rpy="0 0 0"/>
      <geometry>
        <box size="0.035 0.015 0.02"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <box size="0.035 0.015 0.02"/>
      </geometry>
    </collision>  
  </link>
  <gazebo reference="retainer_hc">
    <material>
	Gazebo/Grey
    </material>
  </gazebo>

  <link name="retainer_nw">
    <inertial>
      <mass value=".125"/>
      <origin xyz="0 0.02 0.0155" rpy="0 0 0"/>
     <inertia ixx="100.0" ixy="0" ixz="0" 
              iyy="100.0" iyz="0" 
              izz="100.0"/>
    </inertial>  
    <visual>
      <origin xyz="0 0.02 0.0155" rpy="0 0 0"/>
      <geometry>
        <box size="0.045 0.0055 0.02"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <box size="0.045 0.0055 0.02"/>
      </geometry>
    </collision>
  </link>
    <gazebo reference="retainer_nw">
    <material>
	Gazebo/Grey
    </material>
  </gazebo>

  <link name="retainer_sw">
    <inertial>
      <mass value=".125"/>
      <origin xyz="0 -0.020 0.0155" rpy="0 0 0"/>
      <inertia ixx="100.0" ixy="0" ixz="0" 
               iyy="100.0" iyz="0" 
               izz="100.0"/>
    </inertial>  
    <visual>
      <origin xyz="0 -0.020 0.0155" rpy="0 0 0"/>
      <geometry>
        <box size="0.045 0.0055 0.02"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <box size="0.045 0.0055 0.02"/>
      </geometry>
    </collision>
  </link>
  <gazebo reference="retainer_sw">
    <material>
	Gazebo/Grey
    </material>
  </gazebo>
  
  <link name="retainer_ew">
    <inertial>
      <mass value=".125"/>
      <origin xyz="0.02 0 0.0155" rpy="0 0 0"/>
      <inertia ixx="100.0" ixy="0" ixz="0" 
               iyy="100.0" iyz="0" 
               izz="100.0"/>
    </inertial>  
    <visual>
      <origin xyz="0.02 0 0.0155" rpy="0 0 0"/>
      <geometry>
        <box size="0.0055 0.035 0.02"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <box size="0.0055 0.035 0.02"/>
      </geometry>
    </collision>
  </link>
  <gazebo reference="retainer_ew">
    <material>
	Gazebo/Grey
    </material>
  </gazebo>
  
  <link name="retainer_ww">
    <inertial>
      <mass value=".125"/>
      <origin xyz="-.020 0 0.0155" rpy="0 0 0"/>
      <inertia ixx="100.0" ixy="0" ixz="0" 
               iyy="100.0" iyz="0" 
               izz="100.0"/>
    </inertial>  
    <visual>
      <origin xyz="-.020 0 0.0155" rpy="0 0 0"/>
      <geometry>
        <box size="0.0055 0.035 0.02"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <box size="0.0055 0.035 0.02"/>
      </geometry>
    </collision>
  </link>
    <gazebo reference="retainer_ww">
    <material>
	Gazebo/Grey
    </material>
  </gazebo>

  <joint name="base_to_retainer_vc" type="fixed">  
    <parent link="base"/>
    <child link="retainer_vc"/> 
  </joint>
  
  <joint name="base_to_retainer_hc" type="fixed">  
    <parent link="base"/>
    <child link="retainer_hc"/> 
  </joint>
  
  <joint name="base_to_retainer_nw" type="fixed">  
    <parent link="base"/>
    <child link="retainer_nw"/> 
  </joint>
  
  <joint name="base_to_retainer_sw" type="fixed">  
    <parent link="base"/>
    <child link="retainer_sw"/> 
  </joint>
  
  <joint name="base_to_retainer_ew" type="fixed">  
    <parent link="base"/>
    <child link="retainer_ew"/> 
  </joint>
 
  <joint name="base_to_retainer_ww" type="fixed">  
    <parent link="base"/>
    <child link="retainer_ww"/> 
  </joint>
  
  <joint name="retainer_hc_to_nw" type="fixed">  
    <parent link="retainer_hc"/>
    <child link="retainer_nw"/> 
  </joint>
 
  <joint name="retainer_hc_to_sw" type="fixed">  
    <parent link="retainer_hc"/>
    <child link="retainer_sw"/> 
  </joint>
 
  <joint name="retainer_vc_to_ew" type="fixed">  
    <parent link="retainer_vc"/>
    <child link="retainer_ew"/> 
  </joint>
 
  <joint name="retainer_vc_to_ww" type="fixed">  
    <parent link="retainer_vc"/>
    <child link="retainer_ww"/> 
  </joint>
</robot>
