<?xml version="1.0"?>
<launch>

	<arg name="robot_env" default="$(optenv ROBOT_ENV !!NO_ROBOT_ENV_SET!!)"/>

	<!-- send navigation goals to parameter server -->
	<rosparam command="load" ns="/script_server/base" file="$(find cob_default_env_config)/envs/$(arg robot_env)/navigation_goals.yaml"/>

</launch>
